In [31]:
#(1) function:

'''def keyword s used to create a General function,
   lambda keyword is used to create an anonymous function'''

#odd func
def oddf():
    l=[]
    for i in range(1,26):
        if i%2 != 0:
            l.append(i)
    return l

oddf()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [51]:
# (2) Variable length arguments:

''' *args : used for variable no. of arguments in fuction parameter (non-keyword arguments) '''
def mult(*args):
    prod =1
    for i in args:
        prod *= i
    return prod

print("return value of *args arg:",mult(10,2,4,8,-16),'\n')


''' **kwargs : used for variable no. of keyboard arguments in fuction parameter '''
def student(**kwargs):
    print("return value of **kwargs arg:")
    for key, value in kwargs.items():
        print(key,":",value)
        
print(student(name="kailash", edu="NIT W", colour= "blue"))

return value of *args arg: -10240

return value of **kwargs arg:
name : kailash
edu : NIT W
colour : blue
None

In [54]:
# (3) Iterator: an iterator is an object that implements the iterator protocol in iterables like list, tuples & strings.
''' iter(): method used to initialize the iterator object
    next(): method used for iteration & fetch the next item from the iterator'''

l2 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(l2)

# Use the iterator to print the first five elements
for _ in range(5):
    iter_next = next(iterator)
    print(iter_next)

2
4
6
8
10

In [55]:
# (4) generator function
'''function that generates a sequence of values instead of returning a single value.
   It uses the 'YIELD' keyword instead of the return keyword to yield a value from the function,
   without terminating its execution.'''

'''Yield k/w: is the generator for generating func.It iterates over the iterator and retrieves the values,
    one by one using the yield statement without actually storing in memory space.'''

def even_num(n):
    for i in range(n):
        if i%2 == 0:
            yield i

gen = even_num(20)
for num in gen:
    print(num)

0
2
4
6
8
10
12
14
16
18

In [72]:
# (5)

import math
def prime():
    n = 2
    pl = []
    while n <= 1000:
        pr = True
        sq = int(math.sqrt(n))
        for i in range(2,sq):
            if n%i == 0:
                pr = False
                break
        if pr:
            pl.append(n)
            yield n
        
        n += 1

In [73]:
for i in prime():
    print (i)

2
3
4
5
6
7
8
9
11
13
15
17
19
23
25
29
31
35
37
41
43
47
49
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
121
127
131
137
139
143
149
151
157
163
167
169
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
289
293
307
311
313
317
323
331
337
347
349
353
359
361
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
529
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
841
853
857
859
863
877
881
883
887
899
907
911
919
929
937
941
947
953
961
967
971
977
983
991
997

In [78]:
'''the next() method to print the first 20 prime numbers.'''
p = prime()
for _ in range(20):
    print(next(p))

2
3
4
5
6
7
8
9
11
13
15
17
19
23
25
29
31
35
37
41

In [81]:
# (6) first 10 Fibonacci numbers using a while loop.
a,b = 0,1
n=0
while n <10:
    print(a)
    a,b = b, a+b
    n += 1

0
1
1
2
3
5
8
13
21
34

In [100]:
# (7) List Comprehension
l = "pwskills"
ll = [i for i in l]
print(ll)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [95]:
# (8) check whether a given number is Palindrome or not using a while loop

def check_palindrome():
    n = int(input("enter number: "))
    n1 = n
    rev = 0

    while n1 > 0:
        rem = n1 % 10
        rev = rev*10 + rem
        n1 = n1 // 10

    if n == rev:
        print(n,"is a palindrome")
        #return True
    else:
        print(n,": apne number ki dubara jaach kare- not palindrome")
        #return False

check_palindrome()

enter number:  1661

1661 is a palindrome

In [101]:
# (9) print odd numbers from 1 to 100 using list comprehension

l3 = [n for n in range(1,101) if n%2 != 0]
print(l3

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]