In [1]:
# 1.Create one variable containing following type of data:

#string
string= "Hi Mentors"

#list
ls= [2,4,8,16,'python',9.8,8*16/4]

#float
ft= 99.999

#tuples
tp= ('p','y',2.0,2023)

In [3]:
#print(string,ls,ft,tp)

In [8]:
# 2.What will be the data type of the given variable:


var1 = ' '                            #ANS= STRING
#print(type(var1))  

var2 = '[ DS , ML , Python]'          #ANS= STRING
#print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]     #ANS= LIST
#print(type(var3))

var4 = 1.                             #ANS= FLOAT
#print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [14]:
# 3.use of the following operators

#a) Division operator(/): this arithmetic operatot divides first number by second & returns quotient value in float as output
div = 24/6
print(div, type(div))

#b) modulo operator(%): this arithmetic operatot returns remainder of the div
mod= 24%6
print(mod)

#c) Floor Division operator(/): this arithmetic operator divides first number by second & returns quotient value in rounded to nearest whole number or floor value as output.
divn= 24//6
divf= 24.0//6
print(divn, type(divn),"\n",divf, type(divf))
#d) Exponential operator(**): this arithmetic operator results 1st num raise to the power of 2nd num
exp= 2**6
print(exp)

4.0 <class 'float'>
0
4 <class 'int'>
 4.0 <class 'float'>
64

In [26]:
# 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

list2= ['rohan',10,1024,'k',2.0, [3,2,'o'],-8,9*11,2-2,"for20"]
len(list2)

for i in list2:
    print(i,": of data type= ", type(i).__name__,'\n')

rohan : of data type=  str

10 : of data type=  int

1024 : of data type=  int

k : of data type=  str

2.0 : of data type=  float

[3, 2, 'o'] : of data type=  list

-8 : of data type=  int

99 : of data type=  int

0 : of data type=  int

for20 : of data type=  str

In [46]:
# 5.verify if the number A is purely divisible by number B and cont using while loop

A= int(input())
B= int(input())
count= 0

if A==0:
    print(0)
elif A==0 and B==0:
    print("invalid result : undefined")
elif B==0:
    print("undefined")
#elif (A % B) != 0:
#    print(A," is not purely divisible by ",B)

else:
    #if (A % B) != 0:
    #    print(A," is not purely divisible by ",B)
    #else:
        
    while A % B == 0:
        A= A // B
        count+= 1
    
    
if count == 0:
    print("both are not purely divisible")
else:
    print("both are purely divisible in :", count, "times")

 1024
 4

both are purely divisible in : 5 times

In [56]:
# 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#    divisible by 3 or not.


list3= [10,1024,9909,23,197,-8,2-2,450,3,36,112,1111111,999,9*3-3+3,0,82,3**6,27+0,100,30000300000000000000012,303,-33,-2-1,6*6*6,96/3]
len(list3)

for i in list3:
    if i % 3 == 0:
        print(i,"is Divisible by 3") 
    else:
        print(i,"is NOT divisible by 3")

10 is NOT divisible by 3
1024 is NOT divisible by 3
9909 is Divisible by 3
23 is NOT divisible by 3
197 is NOT divisible by 3
-8 is NOT divisible by 3
0 is Divisible by 3
450 is Divisible by 3
3 is Divisible by 3
36 is Divisible by 3
112 is NOT divisible by 3
1111111 is NOT divisible by 3
999 is Divisible by 3
27 is Divisible by 3
0 is Divisible by 3
82 is NOT divisible by 3
729 is Divisible by 3
27 is Divisible by 3
100 is NOT divisible by 3
30000300000000000000012 is Divisible by 3
303 is Divisible by 3
-33 is Divisible by 3
-3 is Divisible by 3
216 is Divisible by 3
32.0 is NOT divisible by 3

# 7.mutable and immutable data types:

Mutable data types: whose values can be changes/modified after they are created.
eg- list, dict, set.

Immutable data types: whose values cannot be changed/modified once they are created. 
-here existing object can't be changed. once the obejct is created it cant be modified but any operation evenif it seems to be modify but actually it creates new object with the changed value, thats why the new object reference to different memory location. 
eg- int, float, complex, string, tuple.

In [10]:
# Mutable
list5=[2,64,1024,'k']
print("before modify, reference to location: ", id(list5))
list5[2]= 5              
list5.append(22)
print(list5)
print("After modify, reference to location: ", id(list5))
print("\n both the references are same, cuz its modified in same object")

before modify, reference to location:  140045598573248
[2, 64, 5, 'k', 22]
After modify, reference to location:  140045598573248

 both the references are same, cuz its modified in same object

In [16]:
#immutable
name='kailash'
print("before modify, reference to location: ", id(name))
print(name,'\n')

name+= 'mandal'
print(name)
#print("\n",id(name))
print("After modify, reference to location: ", id(name))
print("\n both the references are different, cuz its not modified in same object. Thus new object reference to different memory location")

before modify, reference to location:  140045598515632
kailash

kailashmandal
After modify, reference to location:  140045598483568